<kendo-grid [data]="data" [height]="200">
    <!-- <kendo-grid-column field="Item" title="Item" width="50">
    </kendo-grid-column>
    <kendo-grid-column field="OrderDate" title="Order Date" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="Region" title="Region" width="50">
    </kendo-grid-column>
    <kendo-grid-column field="Rep" title="Representative Name" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="Total" title="Total" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="Unit Cost" title="Cost" width="50">
    </kendo-grid-column>
    <kendo-grid-column field="Units" title="Quantity" width="50">
    </kendo-grid-column> -->
</kendo-grid>